openapi: 3.0.1
info:
  title: Genestack Uploader
  description: This is the API documentation for the HGI Genestack Uploader app
  version: ""
servers:
- url: https://apps.hgi.sanger.ac.uk/genestack-uploader/api
paths:
  /:
    get:
      summary: Get basic information about the server
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /studies:
    get:
      summary: Get information about all studies
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStudies'
        401:
          description: missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingToken'
        403:
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        500:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
      - GenestackAPIToken: []
    post:
      summary: Add a new study to Genestack
      requestBody:
        description: TODO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewStudy'
        required: true
      responses:
        201:
          description: Study Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyCreated'
        400:
          description: invalid request (likely an issue with the body)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidBody'
                  - $ref: '#/components/schemas/MissingBodyKey'
        401:
          description: missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingToken'
        403:
          description: forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Forbidden'
                  - $ref: '#/components/schemas/S3PermissionDenied'
        500:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
       - GenestackAPIToken: []
  
  /studies/{studyAccession}:
    get:
      summary: "Get data from a particular study"
      parameters:
        - name: studyAccession
          in: path
          description: Genestack Study Accession
          required: true
          schema:
            type: string
      responses:
        200:
          description: study found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Study'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        401:
          description: missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingToken'
        403:
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        500:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
       - GenestackAPIToken: []
       
  /studies/{studyAccession}/signals:
    get:
      summary: Get all the signals associated to the study
      parameters:
        - name: studyAccession
          in: path
          description: Genestack Study Accession
          required: true
          schema:
            type: string
      responses:
        200:
          description: Study found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllSignals'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        401:
          description: missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingToken'
        403:
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        500:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - GenestackAPIToken: []
        
    post:
      summary: Add a new signal to Genestack
      parameters:
        - name: studyAccession
          in: path
          description: Genestack Study Accession
          required: true
          schema:
            type: string
      requestBody:
        description: TODO
        content:
          application/json:
            schema:
              $ref: '#/compononets/schemas/NewSignal'
        required: true
      responses:
        201:
          description: Signal Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Created'
        400:
          description: invalid request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidBody'
                  - $ref: '#/components/schemas/InvalidRequest'
        401:
          description: missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingToken'
        403:
          description: forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Forbidden'
                  - $ref: '#/components/schemas/S3PermissionDenied'
        404:
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        500:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
       - GenestackAPIToken: []
        
        
        ###
        ### TODO: The Rest of It
        ###
  
  /pet:
    post:
      summary: Add a new pet to the store
      operationId: addPet
      requestBody:
        description: Pet object that needs to be added to the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
          application/xml:
            schema:
              $ref: '#/components/schemas/Pet'
        required: true
      responses:
        405:
          description: Invalid input
          content: {}
      security:
      - petstore_auth:
        - write:pets
        - read:pets
      x-codegen-request-body-name: body
  /pet/{petId}:
    get:
      tags:
      - pet
      summary: Find pet by ID
      description: Returns a single pet
      operationId: getPetById
      parameters:
      - name: petId
        in: path
        description: ID of pet to return
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Pet'
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Pet not found
          content: {}
      security:
      - api_key: []
    post:
      tags:
      - pet
      summary: Updates a pet in the store with form data
      operationId: updatePetWithForm
      parameters:
      - name: petId
        in: path
        description: ID of pet that needs to be updated
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Updated name of the pet
                status:
                  type: string
                  description: Updated status of the pet
      responses:
        405:
          description: Invalid input
          content: {}
      security:
      - petstore_auth:
        - write:pets
        - read:pets
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Tag
    Pet:
      required:
      - name
      - photoUrls
      type: object
      properties:
        id:
          type: integer
          format: int64
        category:
          $ref: '#/components/schemas/Category'
        name:
          type: string
          example: doggie
        photoUrls:
          type: array
          xml:
            name: photoUrl
            wrapped: true
          items:
            type: string
        tags:
          type: array
          xml:
            name: tag
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        status:
          type: string
          description: pet status in the store
          enum:
          - available
          - pending
          - sold
      xml:
        name: Pet
    Status:
      type: object
      properties:
        status:
          type: string
          default: OK
        data:
          type: object
          properties:
            version:
              type: string
              description: version number of the app's software
              example: "1.0"
            server:
              type: string
              description: genestack server the app is connected to
              example: https://genestack.sanger.ac.uk
            package:
              type: string
              description: version number of the uploadtogenestack package
              example: "1.0"
    AllStudies:
      type: object
      properties:
        status:
          type: string
          default: OK
        data:
          type: array
          items:
            $ref: '#/components/schemas/Study'
            

    MissingToken:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              default: missing token
    Forbidden:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              default: forbidden
    InternalServerError:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              default: internal server error
            name:
              type: string
              example: GenestackUploadError
            detail:
              type: array
              items:
                type: object
    NewStudy:
      type: object
      properties:
        Study Source:
          type: string
          example: IBD
        Sample File:
          type: string
          example: uploadDirectory/samples.tsv
        Renamed Columns:
          type: array
          items:
            type: object
            properties:
              old:
                type: string
                example: col0
              new:
                type: string
                example: col1
              colValue:
                type: string
                example: ""
      additionalProperties:
        type: string
    StudyCreated:
      type: object
      properties:
        status:
          type: string
          default: OK
        data:
          type: object
          properties:
            accession:
              type: string
              example: GSF123456
    S3PermissionDenied:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              default: S3 bucket permission denied
    InvalidBody:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              default: no valid json body
              
    MissingBodyKey:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              example: "missing key: KeyMissingError"
              
    Study:
      type: object
      properties:
        status:
          type: string
          default: OK
        data:
          type: object
          properties:
            genestack:accession:
              type: string
              example: GSF123456
          additionalProperties:
            type: string
            
    NotFound:
      type: object
      properties:
        status:
          type: string
          default: FAIL
        data:
          type: object
          properties:
            error:
              type: string
              example: "not found: Study with accession GSF123456 not found"
              
    AllSignals:
      type: object
      properties:
        status:
          type: string
          default: OK
        data:
          type: object
          properties:
            studyAccession:
              type: string
              example: GSF123456
            signals:
              type: array
              items:
                $ref: '#/components/schemas/Signal'
                
    Signal:
      type: object
      properties:
        status:
          type: string
          default: OK
        data:
          type: object
          additionalProperties:
            type: string
      
    
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://petstore.swagger.io/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
    GenestackAPIToken:
      type: apiKey
      name: Genestack-API-Token
      in: header
